/*
 * Custom CSS file added to keep jonbartlett.org styles separate
 *
 */

/* Profile pic with port hole view */
.profile_pic {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      background: url(/public/images/jb_profile_pic_200x200.jpg) no-repeat;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
	}

.home-page-icons {
      width: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 50px;
}

.home-page-icons span {
      padding-right: 12px;
      transition: color 0.5s ease; 
}

.home-page-icons a:link {
      color: rgb(81,81,81);
}

.home-page-icons a:visited {
      color: rgb(81,81,81);
}

.home-page-icons span:hover {
      color: #268bd2; 
}

