.circular {
      width: 300px;
      height: 300px;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      background: url(/public/images/jb_profile_pic_300x300.jpg) no-repeat;
      margin-left: auto;
      margin-right: auto;
	}


